# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Editor junk
tempCodeRunnerFile*
.vscode/

# Data 
data/raw/*.csv

# Streamlit secrets
.streamlit/secrets.toml

# OS junk
.DS_Store
Thumbs.db

# Jupyter checkpoints
.ipynb_checkpoints/